# modernize-use-trailing-return-type is disabled since:
#   - doesn't work well with column limits, too verbose
#   - clang-format doesn't know how to format attributes yet
#     so they mess up alignment being on the same line as function declaration

# modernize-use-nullptr and bugprone-unchecked-optional-access are disabled because clang-tidy bundled with VS 17.10.5 crashes on it

# readability-magic-numbers and cppcoreguidelines-avoid-magic-numbers are disabled since
# it doesn't allow specifying default values for component fields except for NOLINT and such.
# Since there is no way to disable this behavior, rule is silenced altogether

# readability-identifier-length is disabled since there are lot of cases when short identifiers are appropriate

# misc-no-recursion is disabled since recursion is convenient when working with hierarchies such as skeletons

# cppcoreguidelines-pro-type-member-init and cppcoreguidelines-prefer-member-initializer are disabled, since there are lot of cases
# when member variables are inited based on some non-trivial calculations 

Checks: 'bugprone-*,-bugprone-unchecked-optional-access,cppcoreguidelines-*,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-type-member-init,-cppcoreguidelines-prefer-member-initializer,clang-analyzer-*,concurrency-*,misc-*,-misc-no-recursion,modernize-*,-modernize-use-nullptr,-modernize-use-trailing-return-type,performance-*,portability-*,readability-*,-readability-magic-numbers,-readability-identifier-length'
WarningsAsErrors: '*'
CheckOptions:
  - key: bugprone-easily-swappable-parameters.IgnoredParameterNames
    value: 'x;y;z;yaw;pitch;roll;begin;end;first;second'
  - key: cppcoreguidelines-owning-memory.LegacyResourceProducers
    value: 'SDL_CreateWindow'
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: 1
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key: readability-identifier-naming.ConstexprVariableCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: lower_case
  - key: readability-identifier-naming.StaticConstantCase
    value: lower_case
  - key: readability-identifier-naming.StaticVariableCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.TypeAliasCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: true