Language: Cpp
BasedOnStyle:  Chromium

BreakBeforeBraces:  Stroustrup
AccessModifierOffset: -2
ColumnLimit: 100

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^("|<)eely_app[\/]'
    Priority:        1
  - Regex:           '^("|<)eely_importer[\/]'
    Priority:        2
  - Regex:           '^("|<)eely[\/]'
    Priority:        3
  - Regex:           '^<(acl)\/*'
    Priority:        4
  - Regex:           '^<(bx|bimg|bgfx)\/*'
    Priority:        5
  - Regex:           '^<entt\/*'
    Priority:        6
  - Regex:           '^<fbxsdk\/*'
    Priority:        7
  - Regex:           '^<fmt\/*'
    Priority:        8
  - Regex:           '^<gsl\/*'
    Priority:        9
  - Regex:           '^<gtest\/*'
    Priority:        10
  - Regex:           '^<gmock\/*'
    Priority:        11
  - Regex:           '^<imgui*'
    Priority:        12
  - Regex:           '^<SDL.*'
    Priority:        13
  - Regex:           '^<.*>'
    Priority:        14
  - Regex:           '.*'
    Priority:        0